.__fade-enter {
    opacity: 0;
}

.__fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.__fade-exit {
    opacity: 1;
}

.__fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}